@use 'sass:map';
@import '../../index.scss';

.tag {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  overflow: hidden;

  background-color: var(--primary);
  padding: 0.125rem 0.5rem;
  border-radius: 0.5rem;

  margin: 0 0.125rem;

  & p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  }

  &__icon {
    display: none;
    margin-left: 0.5rem;
    filter: invert(100%);
    transform: rotate(0deg) scale(1);
    transition: transform 150ms ease-in-out;

    &--rotated {
      transform: rotate(45deg) scale(0.8);
    }

    &--visible {
      display: block;
    }
  }

  &--MScAI {
    background-color: rgb(183, 26, 26);
  }

  &--MScCS {
    background-color: rgb(183, 26, 139);
  }

  &--MScCLSJD {
    background-color: rgb(183, 97, 26);
  }

  &--MScIS-IS {
    background-color: rgb(123, 183, 26);
  }

  &--MScIS-DS {
    background-color: rgb(26, 183, 99);
  }

  &--MScLogic {
    background-color: rgb(26, 167, 183);
  }

  &--MScSE {
    background-color: rgb(102, 26, 183);
  }

  &--disabled {
    background-color: rgb(225, 225, 225);
    filter: brightness(1) !important;

    & .tag__icon {
      transform: rotate(0deg);
    }

    &:hover {
      cursor: not-allowed !important;
      filter: brightness(1) !important;
    }

    &:active {
      cursor: not-allowed !important;
      filter: brightness(1) !important;
    }
  }

  &--selectable:not(.tag--selected) {
    // Make the tag look almost grey but retain a bit of its colour
    filter: brightness(1.2) saturate(0.125);

    &.tag--selectable:hover {
      filter: brightness(1.1) saturate(0.125);
    }
  }

  &--selectable:hover {
    cursor: pointer;

    filter: brightness(1.1);
  }

  &--payment {
    &-ir {
      // invoice requested
      background-color: rgb(171, 143, 1);
    }

    &-pp {
      // payment processing
      background-color: rgb(43, 53, 194);
    }

    &-pc {
      // payment complete
      background-color: rgb(13, 139, 63);
    }

    &-pi {
      // payment incomplete
      background-color: rgb(150, 10, 10);
    }
  }
}
