.event-view {
  margin: 2rem;

  &__tags {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 2rem;
  }

  &__date {
    margin: 0 2rem;
  }

  &__image {
    max-width: 40rem;
    max-height: 40rem;
    width: 100%;

    border: 2px solid var(--primary);
    border-radius: 1rem;

    margin-bottom: 2rem;
  }

  &__divider {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 3rem 2rem 1rem;
    align-items: start;

    &--less-spacing {
      margin: 1rem 2rem;
    }

    &::after {
      display: flex;
      position: absolute;
      min-width: 10rem;
      width: 20%;
      max-width: 20rem;
      margin: 0;
      height: 0.1875rem;
      content: '';
      left: -1rem;
      bottom: -0.1875rem;
      background-color: #acacac;
      border-radius: 0.09375rem;
    }
  }

  &__section-header {
    font-size: larger;
    font-weight: 500;
    color: #000000;
    margin: 0;
  }

  &__markdown {
    margin: 0 2rem;
    position: relative;

    &::before {
      display: flex;
      position: absolute;
      width: 0.125rem;
      margin: 0;
      content: '';
      left: -0.75rem;
      top: -0.125rem;
      bottom: -0.125rem;
      background-color: #e0e0e0;
      border-radius: 0.125rem;
    }
  }
}
