.event-card {
  width: 24rem;
  height: 24rem;

  border-radius: 1rem !important;
  overflow: hidden;

  &__subtitle {
    margin-bottom: 1rem !important;
  }

  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }

  &--no-image {
    & .card__image {
      display: none;
    }

    & .card__body {
      height: 14rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 15rem;
    margin-bottom: 0 !important;
    overflow: hidden;

    --mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 100%,
        rgba(0, 0, 0, 0) 0
      )
      100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  &__tags {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    margin-right: 0.5rem;
    row-gap: 0.25rem;

    &:not(:empty) {
      margin-bottom: 0.75rem;
    }
  }
}
