@use 'sass:map';

$theme-colors: (
  'primary': #75b88e,
  'primary-hover': #5e9e73,
  'primary-dark': #4b9363,
  'primary-background': #eef0e7,
  'text-on-primary': #ffffff,
  'accent': #ffbd00,
  'accent-hover': rgb(243, 177, 23),
  'accent-dark': rgb(235, 161, 24),
  'gray': #ced4da,
  'white': #ffffff,
  'light': #f8f9fa,
  'dark': #212529,
);

@import '~bootstrap/scss/bootstrap';

body {
  background-color: map-get($theme-colors, 'primary-background');
}

.hoverable:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}

.btn-primary {
  color: white;
}

.btn-outline-primary:hover,
.btn-primary:hover {
  color: white;
  background-color: map-get($theme-colors, 'primary-hover');
  border-color: map-get($theme-colors, 'primary-hover');
}

.btn-outline-primary:active,
.btn-primary:active {
  color: white;
  background-color: map-get($theme-colors, 'primary-dark');
  border-color: map-get($theme-colors, 'primary-hover');
}

.table > :not(:first-child) {
  border-top: 2px solid map-get($theme-colors, 'primary');
}

td {
  vertical-align: middle !important;
}

.accordion-button:not(.collapsed) {
  color: map-get($theme-colors, 'primary-dark');
}

.accordion-button:not(.collapsed)::after {
  filter: saturate(0) invert(68%) sepia(11%) saturate(1087%) hue-rotate(90deg) brightness(97%) contrast(90%);
}
