@use 'sass:map';

$theme-colors: (
  'primary': #74b88d,
  'primary-hover': #5e9e73,
  'primary-dark': #4b9363,
  'text-on-primary': #ffffff,
  'gray': #ced4da,
  'white': #ffffff,
  'light': #f8f9fa,
  'dark': #212529,
);

@import '~bootstrap/scss/bootstrap';

.hoverable:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}

.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white;
  background-color: map-get($theme-colors, 'primary-hover');
}

.btn-primary:active {
  color: white;
  background-color: map-get($theme-colors, 'primary-dark');
}
