@use 'sass:map';

$theme-colors: (
  'primary': #75b88e,
  'primary-hover': #5e9e73,
  'primary-dark': #4b9363,
  'primary-light': #eef0e7,
  'primary-light-hover': #e3e5e0,
  'primary-medium-light': #d6d8d2,
  'text-on-primary': #ffffff,
  'accent': #ffbd00,
  'accent-hover': #f3b117,
  'accent-dark': #eba118,
  'gray': #ced4da,
  'white': #ffffff,
  'light': #f8f9fa,
  'dark': #212529,
);

:root {
  --primary: #75b88e;
  --primary-hover: #5e9e73;
  --primary-dark: #4b9363;
  --primary-light: #eef0e7;
  --primary-light-hover: #e3e5e0;
  --primary-medium-light: #d6d8d2;
  --text-on-primary: #ffffff;
  --accent: #ffbd00;
  --accent-hover: #f3b117;
  --accent-dark: #eba118;
  --gray: #ced4da;
  --white: #ffffff;
  --light: #f8f9fa;
  --dark: #212529;
}

@import '~bootstrap/scss/bootstrap';

body {
  background-color: var(--primary-light);
}

.wmde-markdown {
  --color-canvas-default: transparent !important;

  & a.anchor {
    display: none;
  }
}

.hoverable:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.btn-outline-primary:hover,
.btn-primary:hover {
  color: white;
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-outline-primary:active,
.btn-primary:active {
  color: white;
  background-color: var(--primary-dark);
  border-color: var(--primary-hover);
}

.table > :not(:first-child) {
  border-top: 2px solid var(--primary);
}

td {
  vertical-align: middle !important;
}

.accordion-button:not(.collapsed) {
  color: var(--primary-dark);
}

.accordion-button:not(.collapsed)::after {
  filter: saturate(0) invert(68%) sepia(11%) saturate(1087%) hue-rotate(90deg) brightness(97%) contrast(90%);
}
