.list-item {
  display: flex;
  flex-direction: column;
  width: 20rem;

  background-color: #f5f5f5;

  &__header {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 0 0.5rem;
    height: 3rem;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  &__icon {
    &--grip {
      margin-right: 0.5rem;

      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    &--expand {
      cursor: pointer;

      margin-right: 0.5rem;
      transform: rotate(270deg);

      // Add transition to the transform property
      transition: transform 150ms ease-in-out;
    }

    &--rotated {
      transform: rotate(360deg);
    }

    &--close {
      margin-left: auto;
      margin-right: 0.5rem;

      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    height: 100%;
    align-items: center;

    & p {
      font-size: 1rem;
      font-weight: 500;
      color: #000000;
      margin: 0;
    }
  }

  &__tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: auto;
    margin-right: 0.25rem;
  }

  &__tag {
    height: fit-content;
    width: fit-content;
    align-items: center;

    background-color: rgb(28, 68, 180);
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;

    margin: 0 0.125rem;

    & p {
      font-size: 0.8rem;
      font-weight: 600;
      color: #ffffff;
      margin: 0;
    }
  }

  &__expanded {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e0e0e0;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5rem;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 2rem;
    width: 6rem;

    background-color: #ffffff;
    border: 0.125rem solid #e0e0e0;
    border-radius: 0.5rem;

    & p {
      font-size: 0.8rem;
      font-weight: 600;
      color: #000000;
      margin: 0;
    }

    &--add {
      border-color: rgb(28, 180, 68);

      &:hover {
        background-color: rgb(200, 255, 188);
      }

      &:active {
        background-color: rgb(180, 255, 168);
      }
    }

    &--hide {
      border-color: rgb(180, 28, 28);

      &:hover {
        background-color: rgb(255, 188, 188);
      }

      &:active {
        background-color: rgb(255, 168, 168);
      }
    }

    &--unhide {
      border-color: rgb(94, 198, 208);

      &:hover {
        background-color: rgb(188, 250, 255);
      }

      &:active {
        background-color: rgb(168, 235, 250);
      }
    }
  }
}
