@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.project-lists-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  & .project-lists {
    max-width: calc(50% - 1rem);
    width: calc(50% - 1rem);

    &:only-child {
      max-width: 100%;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .project-lists-container {
    flex-direction: column;
  }
}

.tag-category {
  max-height: 25vh;
  overflow-y: scroll;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem !important;
  background-color: white;

  &__item {
    width: 100%;

    & a {
      color: black;

      &.nav-link {
        &.active {
          background-color: var(--primary-dark);
          color: white;
        }

        &:hover {
          background-color: var(--primary-hover);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.tab-content > .active.selectable-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  & > .selectable-tag {
    width: fit-content;
    margin: 0;
  }
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  padding-top: 2px;
}
