@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$navbarWidth: 84px;

.navbar {
  background-color: #bc0031;

  .logo {
    display: block;
    padding-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1rem;
  }

  .nav-item {
    padding: 0.5rem 0;

    &:hover {
      background-color: #a6002b;
    }

    &:active {
      background-color: #8c0024;
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }

    a,
    div {
      width: 84px;
      height: 64px;
      display: grid;

      span {
        color: white;
        font-size: 0.875rem;
        text-align: center;
      }

      img {
        justify-self: center;
        align-self: center;
        width: 35px;
        height: 35px;

        // Make black icons white
        filter: invert(100%);
      }
    }
  }

  .logout {
    margin-top: auto !important; // When in sidebar

    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;

    z-index: 100;
    width: $navbarWidth;
  }

  .page-content {
    padding-left: $navbarWidth;
    width: 100%;
    padding-bottom: 75px;
  }
}
